:root{
    --black1: #0a0a0a;
    --black2: #0e0e0e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.App {
    width: 100%;
    height: 100%;
    background: var(--black2);
    position: relative;
    overflow: hidden;
}
@media only screen and (min-width: 768px){
    .HexagonWrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .BackgroundCS{
        height: 100%;
        aspect-ratio: 18/9;
        position: absolute;
        filter: brightness(50%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .Hexagon{
        width: 45rem;
        height: 45rem;
        rotate: 1deg;
        animation-name: RotateHexagon;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }
    .HexagonText{
        color: white;
        font-size: 2.25rem;
    }
    .HexagonTextWrapper{
        margin: 0;
        position: absolute;
    }
}
@media only screen and (max-width: 768px){
    .HexagonWrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Hexagon{
        width: 20rem;
        height: 20rem;
    }
}
@media only screen and (min-width: 2268px){
    .BackgroundCS{
        display: none;
    }
}
@media only screen and (max-width: 1440px){
    .BackgroundCS{
        display: none;
    }
}
@keyframes RotateHexagon{
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
