:root{
    --black1: #0a0a0a;
    --black2: #0e0e0e;
    --balck3: #151515;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    scrollbar-width: thin;
    scrollbar-color: var(--black1) var(--balck3);
}
html::-webkit-scrollbar{
    width: 0.75rem;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--balck3);
    border-radius: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--black1);
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.App {
    width: 100%;
    height: 100%;
    background: var(--black2);
    position: relative;
}
.NavBar{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.ContentSpaceMainContent{
    width: 100%;
    height: 5rem;
    background: green;
}
.DiceWraper{
    height: 100%;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.Nav{
    width: 30rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.Nav p{
    color:white;
    font-size: 1.25rem;
    cursor: pointer;
    z-index: 2;
}
.MainImage{
    width: 100%;
    height: 100vh;
    z-index: 2;
}
.empty{
    width: 10rem;
    height: 100%;
    z-index: 2;
}
.BrightnessRegul{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: linear-gradient(#000000 0%, #000000 5%, #00000066 100%);
    z-index: 1;
}
.content{
    width: 100%;
}
.MainContentText{
    color: #ffffff;
    font-size: 5rem;
    z-index: 99;
    margin: 0;
}
.TextMainPage{
    width: 100%;
    height: 25rem;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: end;
}
.GoDown{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 5rem;
    z-index: 99;
    cursor: pointer;
    position: absolute ;
    bottom: 0;
}
.ContentSpace{
    width: 100%;
    aspect-ratio: 16/9;
}
@media only screen and (min-width: 768px){
    .HexagonWrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .BackgroundCS{
        height: 100%;
        aspect-ratio: 18/9;
        position: absolute;
        filter: brightness(50%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .Hexagon{
        width: 45rem;
        height: 45rem;
        rotate: 1deg;
        animation-name: RotateHexagon;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }
    .HexagonText{
        color: white;
        font-size: 2.25rem;
    }
    .HexagonTextWrapper{
        margin: 0;
        position: absolute;
    }
}
@media only screen and (max-width: 768px){
    .HexagonWrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Hexagon{
        width: 20rem;
        height: 20rem;
    }
}
@media only screen and (min-width: 2268px){
    .BackgroundCS{
        display: none;
    }
}
@media only screen and (max-width: 1440px){
    .BackgroundCS{
        display: none;
    }
}
@keyframes RotateHexagon{
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
